{% extends 'layout.twig' %}
{% block content %}
    <h1>Welcome to User Page</h1>

    <div style="color: #453C67">
        Welcome: {{ session.name }}
        <br>
        Your email: {{ session.email }}
        <br>
        Your id: {{ session.id }}
    </div>



    <div class="email">
        <form class="search" action="/" method="get">
            <button style="border-radius: 20px;"
                    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                Logout
            </button>
        </form>
    </div>

    <div>
        <form action="/changePassword" method="post">

            <label for="password">Old password</label>
            <label>
                <input class="border" type="password" name="password"/>
            </label> <br>

            <label for="newPassword">New password</label>
            <label>
                <input class="border" type="password" name="newPassword"/>
            </label>
            <br>
            <label for="repeatPassword">Repeat new password</label>
            <label>
                <input class="border" type="password" name="rePassword"/>
            </label>

            <input type="submit" value="Change"/> <br>

            <br>
        </form>
    </div>


    <div style="position: relative; margin-left: 60%;">
        <form action="/userPage" method="post">

            <label for="email">Old email</label>
            <label>
                <input class="border" type="email" name="email"/>
            </label> <br>

            <label for="newEmail">New email</label>
            <label>
                <input class="border" type="email" name="newEmail"/>
            </label>
            <br>
            <label for="repeatEmail">Repeat new email</label>
            <label>
                <input class="border" type="email" name="reEmail"/>
            </label>

            <input type="submit" value="Change"/> <br>
            <br>

        </form>
    </div>



{% endblock %}